@media screen and (max-width: 768px){

    /*MENU*/
    #menu{
        height: 260px;
        position: static;
        opacity: 0.9;
    }

    #menu-container{        
        flex-direction: column;
        padding: 20px 0;
    }

    #menu-ancoras{
        flex-direction: column;
        text-align: center;
    }

    #menu-ancoras li:nth-child(2){
        border-top: 1px solid #a3d5a9;
    }
    #menu-ancoras li:nth-child(3){
        border-top: 1px solid #a3d5a9;
        border-bottom: 1px solid #a3d5a9;
    }

    #header-container{
        width: 90%;
        padding: 0;
        flex-direction: column;
        justify-content: center;
    }

    .header-container-left{
        width: 90%;
        padding: 0;
        margin-bottom: 30px;
        align-self: center;
    }
    .header-container-right{
        width: 90%;
        align-self: center;
    }
    .header-container-right img{
        width: 100%;
    }

    /*SOBRE*/
    #sobre-container{
        flex-direction: column;
        align-items: center;
    }

    #sobre-card{
        width: 80%;
    }

    .titulo{
        font-size: 1.3rem;
    }

    .sobre-image{
        width: 100%;
    }

    /**/

    #objetivos{
        padding: 0;
    }

    #objetivos-container{
        width: 100%;
    }
    
    .objetivo{ 
        display: flex;
        flex-direction: column;
    }

    
    .objetivo aside{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .objetivo-img{
        margin-top: 15px;
        align-self: center;
    }

    /*RESULTADOS*/

    #resultados{
        height: 115vh;
    }
    .slider li{
        flex-direction: column;
        align-items: center;
    }

    .slider li p{
        padding-bottom: 20px;
    }

    .slider li img{
        width: 100%;
    }

    /*DICAS*/
    #dicas-container{
        width: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;
    }

    #dicas-container .dica:nth-child(2){
        margin: 15px 0;
    }

    .dica-img{
        width: 100%;
        height: auto;
    }

    #links-container{
        display: inline-block;
        flex-direction: column;
        align-items: center;
    }

    #links-container aside{
        margin-bottom: 15px;
    }
}