@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/*Variaveis*/
:root{

    /*Paleta de Cores*/
    --cor-menu:  #4da046;
    --cor-header: #4da046;
    --cor-objetivos:#569d50;/* #569d50*/
    --cor-objetivo: #95d190; /*#95d190*/
    --cor-resultados: #eee;
    --cor-sus: #9ac996;
    --cor-dicas: #569d50;
    --cor-dica: #95d190;
    --cor-links: #333;
    --cor-rodape: #222;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

body a{
    text-decoration: none;
    color: inherit; /*herda cor de fonte do elemento pai*/
}

ul{
    list-style: none;
}

.titulo{
    font-size: 2.2rem;
    /*text-transform: uppercase;*/
    font-weight: bold; /*peso da fonte*/
    text-align: center;
    padding-bottom: 50px;
    letter-spacing: 2px; /*espaçamento entre letras*/
}

/*Menu*/
#menu{
    width: 100%;
    height: 55px;
    background: var(--cor-menu);
    color: #eee;
    font-size: 1.1rem;
    position: fixed;
    z-index: 11;
}   

#menu-container{
    width: 80%;
    height: 100%;
    margin: auto; /*Centraliza elemento com o elemento-pai*/
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#menu-ancoras{
    display: flex;
    list-style: none;
    /*text-transform: uppercase;*/
}

#menu-ancoras li{
    padding: 10px;
    margin-top: 15px;
}

#menu-ancoras li a:hover{
    color: #a5d6a1;
}

.logo{
    height: 55px;
}

#header{
    top: 6vh;
    height: 80vh; /*100% da visão da altura do viewport*/
    display: flex;
    justify-content: center;
    align-items: center;
    color: #eee;
    background: var(--cor-header);
    /*COLOCAR IMAGEM*/ 
    
   /* background: url('../imgs/desenho-de-enfermeiros-cuidando-de-pacientes-.png') no-repeat center right/contain; /*centraliza imagem no container*/

}

#header-container{
    width: 100vw;
    padding: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#header-container h1{
    margin-top: 60px;
    font-size: 2.5rem;
}

#header-container p{
    margin: 15px 0;
    line-height: 20px;
    max-width: 500px;
    font-size: 1.1rem;
}

.header-container-left{
    top: 5vh;
    left: 0;
    width: 50%;
    padding: 60px;
    text-align: left;
}

.header-container-right{
    top: 5vh;
    right: 0;
    width: 50%;
    display: flex;
    justify-content: center;
}

.header-container-right img{
    max-width: 100%;
}

/*ACRESCENTAR TEXTO NUMA TAG <P> DEPOIS DE COLOCAR IMAGEM

#header-container p{
    font-size: 1.2rem;
    padding: 7px 0;
}
*/

/*SOBRE*/
#sobre{
    width: 100%;
    padding: 50px;
}

/*#sobre-container{
    display: flex;
    justify-content: center;
}*/

#sobre-container{
    width: 100%;
    padding: 60px;
    display: grid;
    grid-template-areas: "1 r" "f f";
    grid-template-columns: 3fr 2fr;
    gap: 10px;
    justify-content: center;
    vertical-align: top;
    font-size: 1.2rem;
}


/*#sobre-card{
    width: 500px;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 15px 0;
    font-size: 1.2rem;
}*/

#sobre-container-left{
    top: 0;
    display: flex;
    flex-direction: column;
    padding-left: 60px;
    margin: 5px 0;
    font-size: 1.2rem;
}

#sobre-container-right{
    width: 80%;
    display: flex;
    justify-content: center;
    margin: 0 60px;
    font-size: 1.2rem;
}

#sobre h2{
    margin-bottom: 60px;
}

#sobre p{
    margin-bottom: 15px;
}

.sobre-image{
    width: 100%;
    
    height: min-content;
}

.sobre-container-bottom{
    width: 80%;
    margin-top: 30px;
    padding: 12px 60px;
    grid-area: f;
    display: flex;
    flex-direction: column;
}

.sobre-container-bottom img{
    width: 120px;
    height: min-content;
    margin-right: 60px;
}

.sobre-container-bottom blockquote{
    width: 90%;
    margin-bottom: 15px;
    padding: 0 10px 5px;    
    border-left: 2px solid #4da046;
    font-size: 1rem;
}

.sobre-container-bottom blockquote p{
    margin-top: 10px;
}



/*OBJETIVOS*/
#objetivos{
    width: 100%;
    background: var(--cor-objetivos);
    color: #fff;
    padding: 50px;
}

#objetivos-container{
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#objetivos-container > p{
    width: 80%;
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.objetivo{ 
    width: 100%;
    padding: 30px;
    margin: 15px 0;
    display: flex;
    justify-content: space-around;
    font-size: 1.2rem;
    background: var(--cor-objetivo);
    border-radius: 15px;
}

.objetivo aside{
    width: 80%;
    display: flex;
    flex-direction: column;
}

.objetivo aside p{
    margin-top: 15px;
    margin-bottom: 15px;
}

.objetivo aside blockquote{
    width: 90%;
    margin-bottom: 30px;
    padding: 0 10px 5px;
    background-color: #a5d6a1;
    border-left: 2px solid #4da046;
    font-size: 1rem;
}

.objetivo aside blockquote p{
    margin-top: 10px;
}

.objetivo-img{
    width: 200px;
    height: min-content; /*mantem proporção da imagem*/
    border-radius: 5px;
}

/*RESULTADOS*/
#resultados{
    width: 100%;
    background: var(--cor-resultados);
    color: #111;
    padding: 60px;
}

#resultados-container{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.resultados-container-intro{
    width: 80%;
    font-size: 1.2rem;
    margin: 0 auto 60px;
}


.resultados-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 30px 30px;
}

.resultados-nav label{
    bottom: 0;
    width: 25px;
    margin: 6px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    transition: .4s;
    display: flex;
    position: relative;
    z-index: 1;
}

.resultados-nav label:hover{
    font-size: 1.1rem;
    border-bottom: 3px solid #4da046;
}

.resultados-nav label:active{
    border-bottom: 3px solid #4da046;;
}

.slider li input:checked ~ a{
    border-bottom: 1px solid #569d50;
}

.slider{
    display: flex;
    height: 600px;
    width: 100%;
    padding-top: 15px;
    margin-top: 15px;
    position: relative;
}

.slider li{
    list-style: none;
    position: absolute;
    display: flex;    
}

.slider figure{
    margin: auto 15px;
    width: 600px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    border-radius: 60px;
    cursor: pointer;
}

.slider figure img{
    width: 550px;
    border-radius: 40px;
    align-self: center;
}
.slider figure img{
    width: 550px;
    border-radius: 40px;
    align-self: center;
}

.slider input{
    display: none;
}

.slider li:nth-child(1) label{
    left: 10px;
}

.slider li:nth-child(2) label{
    left: 40px;
}

.slider li:nth-child(3) label{
    left: 70px;
}

.slider figure{
    opacity: 0;
    visibility: hidden;
}
.slider p{
    opacity: 0;
    visibility: hidden;
}

.slider h3{
    opacity: 0;
    visibility: hidden;
}

.slider cite{
    opacity: 0;
    visibility: hidden;
}

.slider li input:checked ~ figure{
    opacity: 1;
    visibility: visible;
    z-index: 10;
}
.slider li input:checked ~ div p{
    opacity: 1;
    visibility: visible;
    z-index: 10;
}

.slider li input:checked ~ div h3{
    opacity: 1;
    visibility: visible;
    z-index: 10;
}

.slider li input:checked ~ div cite{
    opacity: 1;
    visibility: visible;
    z-index: 10;
}

.slide-texto{
    width: 60%;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
}

.slide-texto h3{
    font-size: 1.2rem;
    margin-bottom: 30px;
}

#sus{
    width: 100%;
    /*display: flex;
    justify-content: center;*/
    background: var(--cor-resultados);
    padding: 0 60px;
    padding-bottom: 120px;
}

/*.sus-container{
    width: 100%;
    padding: 60px;
    border-radius: 90px;
    background: var(--cor-sus);
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}*/

.sus-container{
    width: 100%;
    padding: 60px;
    border-radius: 90px;
    background: var(--cor-sus);
    color: #eee;
    margin: auto;
    display: grid;
    grid-template-areas: "1 r" "f f";
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    align-items: center;
    font-size: 1.2rem;
}
  
.sus-container-left{
    padding: 60px;
}

.sus-container-left h2{
    font-size: 2.5rem;
    margin-bottom: 60px;
}

.sus-container-left p{
    margin-bottom: 30px;
}

.sus-container-bottom{
    width: 80%;
    margin-left: 60px;
    grid-area: f;
}

.sus-img{
    width: 100%;
    /*background: url('../imgs/medical_team_5421108.png') no-repeat center center/contain;/*<a href='https://.pngtree.com/so/Equipe'>Equipe png de .pngtree.com/</a>*/
    
}

#sus ol{
    list-style-type: upper-roman;
    line-height: 20px;
    list-style-position: inside;
}

#sus ol li{
    margin-bottom: 15px;
}

#sus ol li ol{
    margin-top: 15px;
    line-height: 20px;
    list-style-type: lower-alpha;
}

.sus-programas{
    margin: 60px 0;
}

.sus-programas h2{
    margin-bottom: 60px;
}

.sus-programas div{
    margin-bottom: 60px;
}

/*DICAS*/
#dicas{
    width: 100%;
    background: #569d50;
    color: #fff;
    padding: 50px;
}

#dicas-container{
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 50px; /*espaçamento entre as colunas*/
}

.dica{
    display: flex;
    flex-direction: column;
    background-color: var(--cor-dica);
    padding: 20px;
    border-radius: 20px;
}

.dica-img{
    width: 100%;
}

.dica h3{
    margin: 10px;
}

.dica p{
    margin: 10px;
}

/*Footer*/
#links{
    width: 100%;
    padding: 50px;
    align-items: center;
    background: var(--cor-links);
    background-blend-mode: color;
    color: #eee;
}

#links-container{
    max-width: 100%;
    display: flex;
    /*display: grid;*/
    /*grid-template-columns: repeat(3, 1fr); /* 4 colunas. Cada coluna ocupam 1 fração do elemento pai */
    flex-direction: row;
    justify-content: left;
    padding: 15px;
}

#links-container aside{
    margin: 0px 100px 0px 60px;
}


#links-container aside ul{
    padding: 0;
    font-size: 1.1rem;
}

#links-container aside ul li{
    margin-bottom: 5px;
}

#links-container aside a:hover{
    color: #a5d6a1;
}

#links-container h3{
    margin-top: 15px;
    margin-bottom: 15px;
}

.logo-onu{
    width: 1fr;
}

.logo-onu img{
    width: 200px;
}

#rodape{
    background: var(--cor-rodape);
    color: #eee;
    font-size: 1rem;
    padding: 30px;
    text-align: center;
}

#rodape p{
    margin: 0;
}