@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/*Variaveis*/
:root{

    /*Paleta de Cores*/
    --cor-menu:  #4da046;
    --cor-cabecalho: #4da046;
    --cor-objetivos: #569d50;
    --cor-objetivo: #95d190;
    --cor-resultados: #eee;
    --cor-dicas: #569d50;
    --cor-dica: #95d190;
    --cor-links: #333;
    --cor-rodape: #222;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
    color: inherit; /*herda cor de fonte do elemento pai*/
}

ul{
    list-style: none;
}

.titulo{
    font-size: 2.2rem;
    text-transform: uppercase;
    font-weight: bold; /*peso da fonte*/
    text-align: center;
    padding-bottom: 50px;
    letter-spacing: 2px; /*espaçamento entre letras*/
}

/*Menu*/
#menu{
    width: 100%;
    height: 55px;
    background: var(--cor-menu);
    color: #eee;
    position: fixed;
    z-index: 11;
}

#menu-container{
    width: 80%;
    height: 100%;
    margin: auto; /*Centraliza elemento com o elemento-pai*/
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#menu-ancoras{
    display: flex;
    list-style: none;
    text-transform: uppercase;
}

#menu-ancoras li{
    padding: 10px;
}

.logo{
    height: 55px;
}

#cabecalho{
    height: 80vh; /*100% da visão da altura do viewport*/
    display: flex;
    justify-content: center;
    align-items: center;
    color: #eee;
    background: var(--cor-cabecalho);
    
    /*COLOCAR IMAGEM 
    
    background: url('../img/') no-repeat center center/cover; /*centraliza imagem no container*/

    /*
    overlay -> mesclagem de cor com o background
    background-color:  rgb(77, 160, 70, 0.5);
    background-blend-mode: color;
    */
}

#cabecalho-container{
    text-align: center;
}

#cabecalho-container h1{
    font-size: 2.5rem;
}

/*ACRESCENTAR TEXTO NUMA TAG <P> DEPOIS DE COLOCAR IMAGEM

#cabecalho-container p{
    font-size: 1.2rem;
    padding: 7px 0;
}
*/

/*SOBRE*/
#sobre{
    width: 100%;
    padding: 50px;
}

#sobre-container{
    display: flex;
    justify-content: center;
}

#sobre-card{
    width: 500px;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 15px 0;
    font-size: 1.2rem;
}

.sobre-image{
    width: 500px;
}

/*OBJETIVOS*/
#objetivos{
    width: 100%;
    background: var(--cor-objetivos);
    color: #fff;
    padding: 50px;
}

#objetivos-container{
    width: 80vw;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.objetivo{
    width: 80%;
    padding: 30px;
    margin: 15px 0;
    display: flex;
    justify-content: space-around;
    font-size: 1.2rem;
    background: var(--cor-objetivo);
    border-radius: 5px;
}

.objetivo aside{
    width: 70%;
    display: flex;
    flex-direction: column;
}

.objetivo aside p{
    margin: 10px;
}

.objetivo-img{
    width: 20%;
    height: min-content; /*mantem proporção da imagem*/
    border-radius: 5px;
}

/*RESULTADOS*/
#resultados{
    width: 100%;
    background: var(--cor-resultados);
    color: #111;
    padding: 60px;
    padding-bottom: 120px;
}

#resultados-container{
    width: 80vw;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.resultados-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 60px 60px;
}

.resultados-nav label{
    bottom: 0;
    width: 25px;
    margin: 6px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    transition: .4s;
    display: flex;
    position: relative;
    z-index: 1;
}

.slider{
    display: block;
    height: 293px;
    width: 100%;
    margin: auto;
    margin-top: 15px;
    position: relative;
}

.slider li{
    list-style: none;
    position: absolute;
    display: flex;    
}

.slider img{
    margin: auto 15px;
    width: 60%;
}

.slider input{
    display: none;
}

.slider li:nth-child(1) label{
    left: 10px;
}

.slider li:nth-child(2) label{
    left: 40px;
}

.slider li:nth-child(3) label{
    left: 70px;
}

.slider img{
    opacity: 0;
    visibility: hidden;
}
.slider p{
    opacity: 0;
    visibility: hidden;
}

.slider li input:checked ~ img{
    opacity: 1;
    visibility: visible;
    z-index: 10;
}
.slider li input:checked ~ div p{
    opacity: 1;
    visibility: visible;
    z-index: 10;
}

.slide-texto{
    display: flex;
    flex-direction: column;
}

/*DICAS*/
#dicas{
    width: 100%;
    background: #569d50;
    color: #fff;
    padding: 50px;
}

#dicas-container{
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 50px; /*espaçamento entre as colunas*/
}

.dica{
    display: flex;
    flex-direction: column;
    background-color: var(--cor-dica);
    padding: 20px;
    border-radius: 5px;
}

.dica-img{
    width: 100%;
}

.dica h3{
    margin: 10px;
}

.dica p{
    margin: 10px;
}

/*Footer*/
#links{
    width: 100%;
    background: var(--cor-links);
    background-blend-mode: color;
    color: #eee;
    padding: 50px;
}

#links-container{
    display: grid; /**/
    grid-template-columns: repeat(4, 1fr); /* 4 colunas. Cada coluna ocupam 1 fração do elemento pai */
    justify-items: center;
    padding: 15px;
    justify-content: space-around;
}

#rodape{
    background: var(--cor-rodape);
    color: #eee;
    padding: 30px;
    text-align: center;
}