@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/*Variaveis*/
:root{

    /*Paleta de Cores*/
    --cor-menu:  #4da046;
    --cor-header: #4da046;
    --cor-objetivos:#569d50;/* #569d50*/
    --cor-objetivo: #95d190; /*#95d190*/
    --cor-resultados: #eee;
    --cor-sus: #9ac996;
    --cor-dicas: #569d50;
    --cor-dica: #95d190;
    --cor-links: #333;
    --cor-rodape: #222;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
    color: inherit; /*herda cor de fonte do elemento pai*/
}

ul{
    list-style: none;
}

.titulo{
    font-size: 2.2rem;
    /*text-transform: uppercase;*/
    font-weight: bold; /*peso da fonte*/
    text-align: center;
    padding-bottom: 50px;
    letter-spacing: 2px; /*espaçamento entre letras*/
}

/*Menu*/
#menu{
    width: 100%;
    height: 55px;
    background: var(--cor-menu);
    color: #eee;
    font-size: 1.1rem;
    position: fixed;
    z-index: 11;
}

#menu-container{
    width: 80%;
    height: 100%;
    margin: auto; /*Centraliza elemento com o elemento-pai*/
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#menu-ancoras{
    display: flex;
    list-style: none;
    /*text-transform: uppercase;*/
}

#menu-ancoras li{
    padding: 10px;
}

#menu-ancoras li a:hover{
    color: #a5d6a1;
}

.logo{
    height: 55px;
}

#header{
    top: 6vh;
    height: 80vh; /*100% da visão da altura do viewport*/
    display: flex;
    justify-content: center;
    align-items: center;
    color: #eee;
    background: var(--cor-header);
    /*COLOCAR IMAGEM*/ 
    
   /* background: url('../imgs/desenho-de-enfermeiros-cuidando-de-pacientes-.png') no-repeat center right/contain; /*centraliza imagem no container*/

}

#header-container{
    width: 100vw;
    padding: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#header-container h1{
    margin-top: 60px;
    font-size: 2.5rem;
}

#header-container p{
    margin: 15px 0;
    line-height: 20px;
    max-width: 500px;
    font-size: 1.1rem;
}

.header-container-left{
    top: 5vh;
    left: 0;
    width: 50%;
    padding: 60px;
    text-align: left;
}

.header-container-right{
    top: 5vh;
    right: 0;
    width: 50%;
    display: flex;
    justify-content: center;
}

.header-container-right img{
    max-width: 100%;
}

/*ACRESCENTAR TEXTO NUMA TAG <P> DEPOIS DE COLOCAR IMAGEM

#header-container p{
    font-size: 1.2rem;
    padding: 7px 0;
}
*/

/*SOBRE*/
#sobre{
    width: 100%;
    padding: 50px;
}

#sobre-container{
    display: flex;
    justify-content: center;
}

#sobre-card{
    width: 500px;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 15px 0;
    font-size: 1.2rem;
}

.sobre-image{
    width: 500px;
}

/*OBJETIVOS*/
#objetivos{
    width: 100%;
    background: var(--cor-objetivos);
    color: #fff;
    padding: 50px;
}

#objetivos-container{
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.objetivo{ 
    width: 90%;
    padding: 30px;
    margin: 15px 0;
    display: flex;
    justify-content: space-around;
    font-size: 1.2rem;
    background: var(--cor-objetivo);
    border-radius: 5px;
}

.objetivo aside{
    width: 70%;
    display: flex;
    flex-direction: column;
}

.objetivo aside p{
    margin-top: 15px;
}

.objetivo aside blockquote{
    padding: 0 5px 5px;
    border-left: 2px solid #4da046;
    font-size: 1rem;
}

.objetivo aside blockquote p{
    margin-top: 10px;
}

.objetivo-img{
    width: 200px;
    height: min-content; /*mantem proporção da imagem*/
    border-radius: 5px;
}

/*RESULTADOS*/
#resultados{
    width: 100%;
    background: var(--cor-resultados);
    color: #111;
    padding: 60px;
    padding-bottom: 120px;
}

#resultados-container{
    width: 80vw;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.resultados-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 60px 60px;
}

.resultados-nav label{
    bottom: 0;
    width: 25px;
    margin: 6px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    transition: .4s;
    display: flex;
    position: relative;
    z-index: 1;
}


.slider li input:checked ~ a{
    border-bottom: 1px solid #569d50;
}

.slider{
    display: block;
    height: 293px;
    width: 100%;
    margin: auto;
    margin-top: 15px;
    position: relative;
}

.slider li{
    list-style: none;
    position: absolute;
    display: flex;    
}

.slider img{
    margin: auto 15px;
    width: 60%;
}

.slider input{
    display: none;
}

.slider li:nth-child(1) label{
    left: 10px;
}

.slider li:nth-child(2) label{
    left: 40px;
}

.slider li:nth-child(3) label{
    left: 70px;
}

.slider img{
    opacity: 0;
    visibility: hidden;
}
.slider p{
    opacity: 0;
    visibility: hidden;
}

.slider li input:checked ~ img{
    opacity: 1;
    visibility: visible;
    z-index: 10;
}
.slider li input:checked ~ div p{
    opacity: 1;
    visibility: visible;
    z-index: 10;
}

.slide-texto{
    display: flex;
    flex-direction: column;
}

#sus{
    width: 100%;
    height: 800px;
    background: var(--cor-sus);
    color: #eee;
    padding: 60px;
    padding-bottom: 120px;
}

.sus-container{
    width: 90vw;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.sus-container-left{
    width: 30%;
}

.sus-container-left h2{
    font-size: 2.5rem;
}

.sus-container-right{
    width: 60%;

}

.sus-img{
    width: 80%;
    height: 200px;
    background: url('../imgs/sus.jpg') no-repeat center center/contain;
}


/*DICAS*/
#dicas{
    width: 100%;
    background: #569d50;
    color: #fff;
    padding: 50px;
}

#dicas-container{
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 50px; /*espaçamento entre as colunas*/
}

.dica{
    display: flex;
    flex-direction: column;
    background-color: var(--cor-dica);
    padding: 20px;
    border-radius: 5px;
}

.dica-img{
    width: 100%;
}

.dica h3{
    margin: 10px;
}

.dica p{
    margin: 10px;
}

/*Footer*/
#links{
    width: 100%;
    padding: 50px;
    align-items: center;
    background: var(--cor-links);
    background-blend-mode: color;
    color: #eee;
}

#links-container{
    display: flex;
    /*display: grid;*/
    /*grid-template-columns: repeat(3, 1fr); /* 4 colunas. Cada coluna ocupam 1 fração do elemento pai */
    justify-content: left;
    padding: 15px;
}

#links-container aside{
    margin: 0px 100px 0px 60px;
}

#links-container aside li{
    margin-bottom: 5px;
}

#links-container aside a:hover{
    color: #a5d6a1;
}

#links-container h3{
    margin-top: 15px;
    margin-bottom: 15px;
}

.logo-onu{
    width: 1fr;
}

.logo-onu img{
    width: 200px;
}

#rodape{
    background: var(--cor-rodape);
    color: #eee;
    font-size: 0.9rem;
    padding: 30px;
    text-align: center;
}